/*
	style for our practice page

*/

body{
	background-color: black;
}

/* welcome paragraph */
#welcome_message{
	background-color: white;
	border:	2px solid black;
	height: 100px;
	margin-left: 30%;
	margin-top: 20%;
	width:	200px;
}

.main_content {
    background-color: white;
	border:	2px solid red;
    text-align: center;
    max-width: 180px;
    margin: 5em 30% 10em 30%;
	width:	40%;
}

#results {
	max-width: 300px;
	width: 300px;
}

#results_header {
	font-weight: bold;
}